NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
MONGODB_URI=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BHnGg7u45ajpNP5IjMu5BcZGm4SzdiW27WLDTIeEfK71FfG4wLpR-8-qZ1Rqce23DFaoOg0FhHZQIsmYVxruPGU
VAPID_PRIVATE_KEY=71SyObHiRkUNBrdtBgzIG7eT6zaBPTsgzkYKClnAt34
MONGODB_DB=